<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Invalid credentials</title>
</head>
<body>
    <header class = "main-header">
        <nav class = "navbar">
            <a href="/api/v1/user/signUp">Sign Up</a>
            <a href="/api/v1/user/login">Login</a>
        </nav>
    </header>
    <h1>Please enter proper credentials </h1>
    
</body>
</html>